@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
}

.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero span {
    color: rgb(223, 89, 89);
}

.what-is, .bussiness {
    min-height: 250px;
    padding: 2.5rem;
}

.bussiness span {
    color: rgb(223, 89, 89);
}